/* ============================
    Global stuff
=============================== */
body {
  background-color: #f3f3f3;
  padding-top: 50px;
}
/* ============================
    Container
=============================== */
.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

/* Card */
#section-home al-card {
  margin: 50px auto;
}

/* ============================
         Main content
=============================== */

/* General */
.content {
  padding: 50px 5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #707070;
}
section.content ::selection {
  background: #91F2F6; /* Safari */
  }
section.content ::-moz-selection {
  background: #91F2F6; /* Firefox */
}
section.content h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #21ABBE;
  margin-bottom: 0.75em;
  text-align: center;
}

@media(max-width:767px){
  section.content h1 {
    font-size: 2em;
  }
}

/* About */
#section-about {
  background-color: #f4f4f4;
  border-top: 1px solid #D1D1D1;
}
#section-about p {
  font-size: 1.5em;
  margin-bottom: 0.8em;
}
@media(max-width:767px){
  #section-about p {
    font-size: 1em;
  }
}

#section-about p a {
  font-style: normal;
  font-weight: 400;
  color: #A5394F;
}
#section-about p strong {
  font-weight: 400;
}

/* Portfolio */
#section-portfolio {
  background-color: white;
}
#section-portfolio .entry {
  padding: 10px;
  height: 300px;
}

/* Contact */
#section-contact {
  background-color: #f4f4f4;
  text-align: center;
}

/* ============================
         Footer
=============================== */

footer {
  height: 200px;
}

footer p {
  display: inline;
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  font-size: 13px;
}
