/* ============================
    Global stuff
=============================== */
body {
  background-color: #f3f3f3;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #F7CCCC; /* Safari */
  }
::-moz-selection {
  background: #F7CCCC; /* Firefox */
}

/* Card */
#section-home .center {
  margin: 50px auto;
}

/* ============================
         Footer
=============================== */

footer {
  height: 90px;
  padding: 5px;
  color: #ccc;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
}
