.Card {
  font-weight: 100;
  display: block;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #efefef;
  margin: 50px auto;
  -webkit-animation: fadeUpIn;
  -moz-animation: fadeUpIn;
}

.Card em {
  font-weight: 300;
  font-style: normal;
}

.Card a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: #A5394F;
}

.Card a:hover {
  color: #CB5858;
  text-decoration: underline;
}

.Card-ImageFull-content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

.Card-ImageFull-content h1 {
  font-weight: 100;
  font-size: 28px;
}

.Card-ImageFull-content p {
  font-weight: 300;
  font-size: 16px;
  color: #888;
}

a.ImageLink {
  opacity: 0;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #eee;
  font-size: 25px;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
}
.Card:hover .ImageLink {
  opacity: 1;
}
a.ImageLink:hover {
  color: #eee;
}

@-webkit-keyframes fadeUpIn {
  0%{ transform: translateY(20px); opacity: 0; }
  20%{ transform: translateY(20px); opacity: 0; }
  100%{ transform: translateY(0); opacity: 1; }
}

@-moz-keyframes fadeUpIn {
  0%{ transform: translateY(20px); opacity: 0; }
  20%{ transform: translateY(20px); opacity: 0; }
  100%{ transform: translateY(0); opacity: 1; }
}
